{% extends 'blog/base.html' %}

{% block content %}

    
    

    <div class="container">
        <div class="page-body">
            <div>
                <p class='small'>Published on: {{post.published_date}}</p>
                <p class='small'>Author: {{post.author}}</p>
                <div class="row justify-content-between">
                    <h2><a href="{% url 'post_detail' id=post.pk %}">Title: {{post.title}}</a></h2>
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_edit' id=post.pk %}" class="edit"><i class="fa fa-pencil fa-2x"></i></a>
                    {% endif %}    
                </div>
                <p>{{post.text|linebreaksbr}}</p>
            </div>
            <hr>
        </div>
    </div>

{% endblock %}